# ==========================================
# API
# ==========================================
VITE_API_URL=

# ==========================================
# CLERK
# ==========================================
VITE_CLERK_PUBLISHABLE_KEY=