# ==========================================
# APPLICATION
# ==========================================
PORT=

# ==========================================
# GEMINI
# ==========================================
GEMINI_API_KEY=
GEMINI_MODEL=

# ==========================================
# AWS S3
# ==========================================
AWS_REGION=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=